<h1>Login</h1>
<hr>

<%= form_with url: login_path do |form| %>

  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field "email", class: "form-control", placeholder: "user@email.com", autocomplete: 'off' %>
    <div id="emailHelp" class="form-text">Welcome back!</div>
  </div>

  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field "password", class: "form-control", placeholder: "Password"%>
    <div id="passwordHelpBlock" class="form-text">Your password must not be blank.</div>
  </div>

  <div class="vstack gap-3">
    <div>
      <%= form.submit "Sign In", class: "btn btn-primary"%>
    </div>
    <div class = "d-flex align-items-center justify-content-center">
      <%= render partial: "shared/sign-up-redirect-button"%>
    </div>
  </div>
<% end %>