<html lang="en-GB">
  <h1>Items</h1>
  <p style="color: green"><%= notice %></p>
  <hr>

  <div id="items">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Tags</th>
      </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <% if item.user == Current.user %>
          <tr>
            <td style="width: 20%">
              <%= item.name.truncate_words(5) %>
            </td>
            <td style="white-space: normal; width: 80%">
              <%= item.tags %>
            </td>
            <td class="hstack gap-1">
              <%= link_to "Show", item, class: "btn btn-secondary" %>
              <%= link_to "Delete", item, class: "btn btn-danger", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
              <%= link_to "Edit", edit_item_path(item), class: "btn btn-success" %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>


  <p>
    <%= link_to "New item", new_item_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
  </p>
</html>