<html lang="en-GB">
  <style>
    h1{text-align: center}
    h3{font-size:22px}
  </style>

  <h1><%= "Full Items List" %></h1>

  <%# for @item in @items %>
<!--    <h2><%#="#{@items.name}" %></h2>-->

  <% @items.each do |item| %>
    <div class="card border-0">
      <div class="card-body">
        <h3 class="card-title"> <%= item.name %></h3>
        <p style="font-size:22px" class="card-text"><%= item.description %></p>
        <% if item.URL? %>
          <p style="font-size:20px" class="card-text"><%= "Specified URL: #{item.URL}" %></p>
        <% else %>
          <p style="font-size:20px" class="card-text"><%= "No specified URL" %></p>
      <% end %>
        <% if item.tags != "None" %>
          <p style="font-size:20px" class="card-text"><%= "Tags: #{item.tags}" %></p>
        <% else %>
          <p style="font-size:20px" class="card-text"><%= "No specified tags" %></p>
        <% end %>

      </div>
    </div>
  <% end %>




<!--  <div id="items">-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Description</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
      <%# @items.each do |item| %>
        <%# if item.user == Current.user %>
<!--          <tr scope="row">-->
<!--            <td style="width: 20%">-->
              <%#= item.name %>
<!--            </td>-->
<!--            <td style="white-space: normal; width: 80%">-->
              <%#= item.description %>
<!--            </td>-->
<!--          </tr>-->
        <%# end %>
      <%# end %>
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
</html>