<html lang="en-GB">
  <style>
    h1{text-align: center}
    h3{font-size:22px}
  </style>

  <h1><%= "Full Items List" %></h1>

  <%# for @item in @items %>
<!--    <h2><%#="#{@items.name}" %></h2>-->

  <% @items.each do |item| %>
    <div class="card border-0">
      <div class="card-body">
        <h3 class="card-title"> <%= item.name %></h3>
        <p style="font-size:22px" class="card-text"><%= item.description %></p>
        <% if item.URL? %>
          <p style="font-size:20px" class="card-text"><%= "Specified URL: #{item.URL}" %></p>
        <% else %>
          <p style="font-size:20px" class="card-text"><%= "No specified URL" %></p>
        <% end %>
        <% if item.tags != "None" %>
          <p style="font-size:20px" class="card-text"><%= "Tags: #{item.tags}" %></p>
        <% else %>
          <p style="font-size:20px" class="card-text"><%= "No specified tags" %></p>
        <% end %>
        <% if item.image? %>
          <%= image_tag(item.image,  style:"height:100px") %>
        <% else %>
          <p style="font-size:20px" class="card-text"><%= "No uploaded image" %></p>
        <% end %>
      </div>
    </div>
  <% end %>

</html>